/* * {
  color: blueviolet;
} */
/* h1 {
  color: red;
} */
/* .heading1 {
  color: blue;
} */

/*#para1 {
  color: cadetblue;
} */

#para2 {
  color: brown;
}
.paragraph {
  color: aquamarine;
  font-size: 20px;
}
